<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <sga_stats>
            <general>
                <enabled>0</enabled>
                <params>utm_source,utm_campaign,utm_angle,utm_target,utm_medium,utm_content</params>
            </general>
        </sga_stats>
    </default>
</config>
